header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}
body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 7%,
    rgba(16, 0, 53, 1) 14%,
    rgb(26, 0, 59) 23%,
    rgb(29, 0, 63) 100%
  );
}
#home {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
}
#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav ul li a {
  flex: 1;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #4e4e4e;
}
h3 {
  font-size: 120%;
}
.targ {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 1%;
  margin-left: 2.2%;
  height: 16%;
  width: 26%;
}
.targ img {
  position: relative;
  transition: 1.2s;
  opacity: 100%;
  height: 29rem;
  width: 20rem;
}
.targTitle {
  font-size: 1vw;
}
#back {
  display: flex;
  justify-content: center;
}
#back img {
  height: 40%;
  width: 60%;
}
#pag {
  background-color: #4e4e4e;
}
.target {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#content {
  display: flex;
  flex-wrap: wrap;
}
.info {
  background-color: rgba(33, 0, 94, 0.726);
  height: 14rem;
  width: 15.9rem;
}
